* {
	font-size: 14px;
	font-family: "Fira Code", "Symbols Nerd Font";
}

window#waybar {
	background: #1a1a1a;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}

#workspaces,
#clock,
#wireplumber,
#memory,
#cpu,
#network,
#language,
#tray {
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#clock,
#wireplumber,
#memory,
#cpu,
#network,
#language {
	padding: 0 10px;
}

